{% extends 'base.html.twig' %}

{% block title %}
    {{ 'parts.index'|trans }}
{% endblock %}

{% block body %}

    <style>
    table {
        width: 100%;
        border: 1px solid black;
    }
    </style>

    {% include 'default/_paginator.html.twig' with {
        company: company,
        paginator: paginator,
        route_name: 'parts_index_paginated',
    } %}

{#    {{ form_start(form, { method: 'post', action: url('parts_search_paginated') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.search'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}#}


    <h1>
        {{ 'parts.index'|trans }}
    </h1>
    {% if paginator.data is defined and paginator.data|length %}
        <table class="zui-table">
            <tr>
                <th>{{ 'index.table'|trans }} </th>
                <th>{{  'name.table'|trans }} </th>
                <th>{{ 'numbers.table'|trans }} </th>
                <th>{{ 'price.table'|trans }} </th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'title.edit'|trans }} </th>
                {% endif %}
            </tr>
            {% for row in paginator.data %}
                <tr>
                    <td><a href= "{{ url('track_add', {'INDEKS': row.INDEKS, 'company': company}) }}">{{ row.INDEKS }}</a></td>
                    <td>{{ row.NAZWA }}</td>
                    <td>{{ row.STAN_MIN }}</td>
                    <td>{{ row.CENA }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href= "{{ url('modify_part_data', {'partID': row.ID}) }}">{{ '&#9755' }}</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {#<a href= "{{ url('homepage') }}">{{ 'homepage'|trans }}</a>#}
    {% else %}
        <div>
            {{ 'error.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}