{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ 'title.editUserdata'|trans }}
    {% else %}
        {{ 'title.register'|trans }}
    {% endif %}
{% endblock %}

{% block body %}
    {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
    <h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ 'title.editUserdata'|trans }}
        {% else %}
            {{ 'title.register'|trans }}
        {% endif %}
    </h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form, { method: 'post', action: url('account_edit') }) }}
        {{ form_widget(form, {'attr': { 'class': 'form-labels-on-top' }}) }}
        <input type="submit" value="{{ 'action.update_user'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    {% else %}
        {{ form_start(form, { method: 'post', action: url('register') }) }}
        {{ form_widget(form, {'attr': { 'class': 'form-labels-on-top'}}) }}
        <input type="submit" value="{{ 'action.register'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    {% endif %}
{% endblock %}