{% extends 'base.html.twig' %}

{% block title %}{{ 'title.track_add'|trans }}{% endblock %}

{% block body %}
    <a href= "{{ url('track_index') }}">{{ 'tracked'|trans }}</a>
    <h1>{{ 'title.track_add'|trans }}</h1>
    {% if track.updated_ID %}
        {{ form_start(form, { method: 'post', action: url('track_add',{'INDEKS': track.updated_ID}) }) }}
        {{ form_widget(form, {'attr': { 'class': 'form-labels-on-top' }}) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    {% else %}
        {{ form_start(form, { method: 'post', action: url('track_add',{'INDEKS':  'default' }) }) }}
        {{ form_widget(form, {'attr': { 'class': 'form-labels-on-top' }}) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    {% endif %}
{% endblock %}