{% extends 'base.html.twig' %}

{% block title %}
    {{ 'userdata'|trans }}
{% endblock %}

{% block body %}

{#    <style>
        table {
            width: 100%;
            border: 1px solid black;
        }
    </style>#}

    <h1>
        {{ 'userdata'|trans }}
    </h1>
    {% if userData is defined and userData|length %}
    <h3> Login: {{ userData.login }} </h3>

        <table class="zui-table">
            <tr>
            <th>{{ 'label.imie'|trans }} </th>
            <td>{{ userData.userData.Imie }}</td>
            </tr>
            <tr>
                <th>{{ 'label.nazwisko'|trans }} </th>
                <td>{{ userData.userData.Nazwisko }}</td>
            </tr>
            <tr>
                <th>{{ 'label.email'|trans }} </th>
                <td>{{ userData.userData.email }}</td>
            </tr>
            <tr>
                <th>{{ 'label.nip'|trans }} </th>
                <td>{{ userData.userData.NIP }}</td>
            </tr>
            <tr>
                <th>{{ 'label.regon'|trans }} </th>
                <td>{{ userData.userData.REGON }}</td>
            </tr>
{% if userData.phone %}
            <tr>
                <th>{{ 'label.phone1'|trans }} </th>
                <td>{{ userData.phone.tel1 }}</td>
            </tr>
            <tr>
                <th>{{ 'label.phone2'|trans }} </th>
                <td>{{ userData.phone.tel2 }}</td>
            </tr>
            <tr>
                <th>{{ 'label.phone3'|trans }} </th>
                <td>{{ userData.phone.tel3 }}</td>
            </tr>
    {% endif %}
    {% if userData.adress %}
            <tr>
                <th>{{ 'label.city'|trans }} </th>
                <td>{{ userData.adress.city }}</td>
            </tr>
            <tr>
                <th>{{ 'label.street'|trans }} </th>
                <td>{{ userData.adress.street }}</td>
            </tr>
        <tr>
            <th>{{ 'label.number'|trans }} </th>
            <td>{{ userData.adress.number }}</td>
        </tr>
        <tr>
            <th>{{ 'label.postal_code'|trans }} </th>
            <td>{{ userData.adress.postal_code }}</td>
        </tr>
    {% endif %}
        </table>
        <a href= "{{ url('account_edit') }}">{{ 'account_edit'|trans }}</a>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}
{% endblock %}