{% extends "layout.html.twig" %}


{% block title %}
    {{ 'catalogue.parts'|trans }}
{% endblock %}
{% block content %}
    {% include 'default/_flash_messages.html.twig' %}
    <h1>
       {{ 'catalogue.parts'|trans }}
    </h1>

    {% for message in app.session.getFlashBag.get('message') %}
        {{ message }}
    {% endfor %}

<div class="wrapper">
    <ul>
        <li><a class="first after"  href="{{ url('search_index',{'INDEKS': 'text.default'|trans }) }}">{{ 'action.search'|trans }}</a></li>
            {% for company in companies %}
                <li>
                    <a class="first after"  href="{{ url('parts_index', {'company': company.id}) }}">
                        {% if company.FIRMA is same as('pozostale')%}           {# funnily enough twig uses isa same as() in place of === #}
                            {{ 'text.rest'|trans }}
                        {% else %}
                            <span class="capitalize">{{ company.FIRMA }}</span>
                        {% endif %}
                    </a>
                </li>
        {% endfor %}


        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="first after"  href= "{{ url('user_index') }}">{{ 'all_users'|trans }}</a></li>
            <li><a class="first after"  href= "{{ url('show_for_delete') }}">{{ 'delete.user'|trans }}</a></li>
            <li><a class="first after"  href= "{{ url('addCsv') }}">{{ 'title.addcsv'|trans }}</a></li>
            <li><a class="first after"  href= "{{ url('users_tracked') }}">{{ 'text.parts_tracked_by_users'|trans }}</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a class="first after"  href= "{{ url('track_index',{'company': 'mixed'}) }}">{{ 'tracked'|trans }}</a></li>
            <li><a class="first after"  href="{{ url('account_index') }}">{{ 'userdata'|trans }}</a></li>
            <li><a class="first after"  href="{{ url('auth_logout') }}">{{ 'auth.logout.label'|trans }}</a></li>
            <li><a class="first after"  href="{{ url('deleteUser') }}">{{ 'title.delete_user'|trans }}</a></li>
            <li><a class="first after"  href="{{ url('editPass') }}">{{ 'text.change_pass'|trans }}</a></li>

        {% else %}
            <li><a class="first after"  href="{{ url('register') }}">{{ 'title.register'|trans }}</a></li>
            <li><a class="first after"  href="{{ url('auth_login') }}">{{ 'auth.login.label'|trans }}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
